/*colors*/
:root {
  --main-text-color: #757575;
  --text-title-color: #212121;
  --accent-color: #2196f3;
  --accent-text-color: rgba(255, 255, 255, 0.6);
  --second-accent-text-color: #ffffff;
  --main-bg-color: #2f303a;
  --accent-bg-color: #f5f4fa;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--second-accent-text-color);
  color: var(--main-text-color);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, p {
  margin: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  outline: 1px solid red;
  width: 1200px;
  
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;

}

/* WebStudio */
/*header*/
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  color: var(--accent-color);
  text-decoration: none;
}

.logo-black {
  color: var(--text-title-color);
}
.logo-white {
  color: var(--second-accent-text-color);
}
.contact-list {
  display: flex;
  margin-left: auto;
}
.contact-item {
  margin-right: 50px;
}
.contact-item:last-child {
  margin-right: 0;
}
.nav-list {
  display: flex; 
}


.nav-link {
  display: inline-block;
  margin-right: 50px;
  margin-top: 32px;
  margin-bottom: 32px;
  color: var(--text-title-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
..nav-link:last-child {
  margin-right: 0;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.nav-link.current {
  color: var(--accent-color);
  text-decoration: none;
}
.nav-link .link:active {
  color: var(--accent-color);
}

.contact-link {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/*section-hero*/
.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background: var(--main-bg-color);
}
.hero-title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-accent-text-color);
}

.hero-button {
  padding: 10px 32px 10px 32px;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--accent-color);
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.9;
  color: var(--second-accent-text-color);
}

/*section description*/
.qualities-list {
  display: flex;
  padding: 0;
  margin: 0;
}
.qualities-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-title-color);
}
.qualities-description {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/*section What are we doing*/
.work-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-list {
  display: flex;
}
.work-item {
  margin-right: 30px;
}
.work-item:last-child {
  margin-right: 0;
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-title-color);
  margin-bottom: 50px;
}

/*section our team*/
.team-section {
  background-color: var(--accent-bg-color);
}
.team-list {
  display: flex;
}
.team-item {
  margin-right: 30px;
}
.team-item:last-child {
  margin-right: 0;
}
.team-blok {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: var(--second-accent-text-color);
}

.team-subject {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-title-color);
  margin-bottom: 50px;
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-title-color);
}

.team-description {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 10px;
  color: var(--main-text-color);
}

                  /*footer*/
.footer {
  background-color: var(--main-bg-color);
}
.footer-item {
  text-decoration: none;
}
.adress-footer {
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--second-accent-text-color);
}
.contacts-footer {
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}
.adress-footer:hover,
.adress-footer:focus {
  color: var(--accent-color);
}
.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--accent-color);
}

/*Portfolio*/

/*Filter section*/

.filter-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filter-item {
  margin-right: 8px;
}
.filter-item:last-child {
  margin-right: 0;
}

.filter-button {
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background-color: var(--accent-bg-color);
  color: var(--text-title-color);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--second-accent-text-color);
  cursor: pointer;
}

/*Card-section*/

 /*CONTAINER*/

.porfolio-contsiner {
  width: 1200px;

}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.portfolio-link {
  text-decoration: none;
}

.poftfolio-item {
  outline: 1px solid red;
  width: 370px;
  height: 398px;
  margin-left: 0;
  margin-right: 30px;
  margin-bottom: 30px;
}

.blok-description {
  display: block;
  width: 370px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border: 1px solid var(--second-accent-text-color);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--text-title-color);
}

.portfolio-description {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  margin-top: 4px;
  color: var(--main-text-color);
}
